@model IEnumerable<PalmisanoPromocion.Models.PeliculaActor>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice Peliculas Actores</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })

            </td>
        </tr>
}
    </tbody>
</table>
