@model PalmisanoPromocion.Models.Pelicula

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Pelicula</h1>

<h3>Esta seguro que desea borrar la pelicula?</h3>
<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEstreno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero.Descripcion)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
